

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section pt-5>
 <div class="text-center" pt-5>
        <img src="~/User/images/logooo.png"  alt="Logo">
        <h3 class="fw-bold mt-4 fs-2 ">Welcome to Compare Bazaar Admin panel</h3>
        <a class="btn btn-warning  shadow-none" asp-area="Admin" asp-controller="DashBoard" asp-action="UserList">View User List</a>
        <a class="btn btn-warning  shadow-none" asp-area="Admin" asp-controller="DashBoard" asp-action="ContactList">View User Messages</a>
        <a class="btn btn-warning  shadow-none" asp-area="Admin" asp-controller="DashBoard" asp-action="PopularProducts">View Popular Products</a>
    </div>
    </section>
