

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="mt-5 pt-5 container">

    <div class=" text-center">
        <img src="~/User/images/logooo.png" class="emptywishlist " alt="">
        <h3 class="fw-bold mt-4 fs-2 ">Welcome to Compare Bazaar Admin panel</h3>
        <a class="btn btn-warning  shadow-none" asp-area="Admin" asp-controller="DashBoard" asp-action="UserList">View User List</a>
        <a class="btn btn-warning  shadow-none" asp-area="Admin" asp-controller="DashBoard" asp-action="ContactList">View User Messages</a>
    </div>
    </section>
