@using Microsoft.AspNetCore.Identity
@using CompareBazaar.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{

    <li class="nav-item me-3">
        <a class="nav-link red " asp-area="Admin" asp-controller="DashBoard" asp-action=""><i class="fas fa-user-cog  red"></i> ADMIN</a>
    </li>
}

