


<div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
    @if (ViewBag.mobile != null)
    {
        <a asp-action="CompareChart" class="text-decoration-none text-black pointer d-block ">
            <i class="fas fa-times crossmargin fs-4"></i>
        </a>
        <img class="img-fluid  allproductimg  " id="deta" src="@ViewBag.mobile.product_images.image" alt="">
    }
    else
    {
        <a asp-controller="" asp-action="" class="mt-4"><i class="fas fa-search-plus text-red searchproduct"></i> </a>
        <form class="d-flex  mx-2 mt-4">
            <input type="search" placeholder="Search products" class="form-control radius shadow-none comparesearch "
                   aria-label="Search">
            <a type="submit" class="btn btn-link searchcolor bg-red text-white radius shadow-none snone" href="#">
                <i class="fas fa-search"></i>
            </a>
        </form>
        <a class="btn btn-danger redbtn bg-red col-8 m-2 fontsize11 shadow-none">
            ADD TO
            COMPARE
        </a>
    }
</div>