@{
    ViewData["Title"] = "About";
}

<partial name="_NavBar2Partial" />
<section class=" mt-5 pt-5 px-3 " id="aboutsec1">
    <div class="container-fluid">
        <h3 class="text-red d-block  fw-bold text-center ">ABOUT COMPAREBAZAAR</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center ">
                <img src="~/User/images/logoo.png" class=" aboutimg " alt="" style="height: 20rem;">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center my-5 text-black">
                <p class=" ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ex adipisci quo aliquam voluptatem omnis ducimus, temporibus libero maxime neque quae, incidunt natus amet nemo officia repellendus magnam maiores Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quae numquam cupiditate voluptatum maxime repudiandae voluptates exercitationem nesciunt quasi minus? Ex numquam totam eos excepturi vero temporibus soluta perspiciatis illo in est laborum alias, rem suscipit cum facilis veniam ratione architecto corporis, quisquam ad? Soluta asperiores vero totam accusamus voluptatum. </p>
            </div>
        </div>
    </div>
</section>