@{
    ViewData["Title"] = "About";
}

<partial name="_NavBar2Partial" />
<section class=" mt-5 pt-5 px-3 " id="aboutsec1">
    <div class="container-fluid">
        <h3 class="text-red d-block  fw-bold text-center ">ABOUT COMPAREBAZAAR</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center ">
                <img src="~/User/images/logoo.png" class=" aboutimg " alt="Loggo" style="height: 20rem;">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center my-5 text-black">
                <p class=" ">Compare Baazar is  a price comparison site is designed to compare the price of electronics products from a range of providers.
                    You can compare prices and specifications of various categories like Mobiles, TV, Washing Machines, ACs, Air Coolers, Refrigerators, Air Purifiers, Water Heaters etc.
                </p>
    </div>
</section>