@{
    ViewData["Title"] = "Error Page";
}

<partial name="_NavBar2Partial" />
<section class="container my-5 py-5">

    <div class="row container-fluid  my-5 py-4  ">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6  d-flex justify-content-center align-items-center ">
            <!-- <div class=" d-flex justify-content-center align-items-center "> -->
            <img src="~/User/images/error-404 (1).png" class="img-fluid errorimg " alt="errorimage">
            <!-- </div> -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6  ">
            <h1 class="fw-bold text-red fontsize2 errortext">SORRY,</h1>
            <p class="fontsize3  text-black errortext"> WE COULDN'T FIND THAT PAGE.</p>
            <a class="text-decoration-none errortext" asp-action=""> GO TO THE HOME PAGE.</a>
        </div>
    </div>
</section>