@{
    ViewData["Title"] = "Error Page";
}

<section class="container my-5 py-5">

    <div class="row container-fluid  my-5 py-4  ">
        <div class="col  d-flex justify-content-center align-items-center ">
            <!-- <div class=" d-flex justify-content-center align-items-center "> -->
            <img src="~/User/images/error-404 (1).png" class="img-fluid errorimg " alt="Error Occured">
            <!-- </div> -->
        </div>
        <div class="col  ">
            <h1 class="fw-bold  text-red fontsize1">SORRY,</h1>
            <p class="fs-4 text-black"> WE COULDN'T FIND THAT PAGE.</p>
            <a class="text-decoration-none" asp-controller="" asp-action=""> GO TO THE HOME PAGE.</a>
        </div>
    </div>
</section>