@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-dark   bg-dark " id="navbar2position">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item dropdown menu-area">
                    <a class="nav-link dropdown-toggle ms-5 fs-5 catgcolor" href="#" id="mega-one" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Mobiles
                    </a>
                    <ul class="dropdown-menu mega-area ms-3  " aria-labelledby="mega-one">
                        <div class="row">
                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
                                <h4 class="innerdropdownheading ">Brands</h4>
                                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem">Samsung</a>
                                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem">Redmi(Mi)</a>
                                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Oppo</a>
                                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Vivo</a>
                                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">Realme</a>
                                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Oneplus</a>
                                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Motorola</a>
                                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Honor</a>
                                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Lenovo</a>
                                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Sony</a>
                                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">HTC</a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 dropdown-margin">
                                <h4 class=" innerdropdownheading ">Categories</h4>
                                <a href="#" class="dropdown-item fs-5 dropdownbg  innerdropdownsubheading ">ALL MOBILES</a>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Android Phones</a>
                        <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Apple IPhones</a>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <a href="#" class="dropdown-item dropdownbg innerdropdownitem ">5G Mobiles</a>
                        <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">4G Mobiles</a>
                        <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">5Gb RAM Mobiles</a>
                        <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Keypad Mobiles</a>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Most popular Mobiles</a>
                        <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Best Mobiles</a>
                        <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Latest Mobiles</a>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 dropdown-margin">
            <h4 class=" innerdropdownheading ">Price</h4>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs 5,000</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem ">Rs5,000 to Rs10,000</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem">Rs10,000 to Rs 15,000</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Rs15,000 to Rs20,000</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs20,000</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Above Rs20,000</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Lowest Price Mobiles</a>
        </div>
    </div>
    </ul>
    </li>
    <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle ms-2  fs-5 catgcolor " href="#" id="mega-two" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Tablets
        </a>
        <ul class="dropdown-menu mega-area ms-3" aria-labelledby="mega-two">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class=" innerdropdownheading ">Brands</h4>
                    <a href="#" class="dropdown-item dropdownbg   innerdropdownitem  ">Samsung</a>
                    <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">Apple</a>
                    <a href="#" class="dropdown-item dropdownbg   innerdropdownitem  ">Asus</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">Micromax</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">Karbonn</a>
                    <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">Lenovo</a>
                    <a href="#" class="dropdown-item  dropdownbg   innerdropdownitem  ">Spice</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">iBall</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">Huawei</a>
                    <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem   ">Sony</a>
                    <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">HCL</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem   ">Zync</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4-margin">
                    <h4 class=" innerdropdownheading ">Categories</h4>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownsubheading  fs-5 ">ALL TABLETS</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem   ">Android Tablets</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem   ">Apple IPads</a>
            <a href="#" class="dropdown-item dropdownbg   innerdropdownitem  ">Windows 8 Tablets</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">4G Tablets</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem   ">Dual/Quad Core Tablets</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg   innerdropdownitem  ">7"-8" Tablets</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem    ">9"-10" Tablets</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">10"-11" Tablets</a>
            <a href="#" class="dropdown-item  dropdownbg   innerdropdownitem  ">11" & above Tablets</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item   dropdownbg   innerdropdownitem   ">Most popular Tablets</a>
            <a href="#" class="dropdown-item  dropdownbg    innerdropdownitem  ">Best Tablets</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem    ">Latest Tablets</a>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 dropdown-margin">
                <h4 class=" innerdropdownheading">Price</h4>
                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem   ">Under Rs 5,000</a>
                <a href="#" class="dropdown-item dropdownbg   innerdropdownitem  ">Rs5,000 to Rs10,000</a>
                <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">Rs10,000 to Rs 15,000</a>
                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">Rs15,000 to Rs20,000</a>
                <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem   ">Under Rs20,000</a>
                <a href="#" class="dropdown-item  dropdownbg   innerdropdownitem   ">Above Rs20,000</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem   ">Lowest Price Tablets</a>
            </div>
            </div>
        </ul>
    </li>
    <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle ms-2   fs-5 catgcolor" href="#" id="mega-three" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Laptops
        </a>
        <ul class="dropdown-menu mega-area ms-3" aria-labelledby="mega-three">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class=" innerdropdownheading ">Brands</h4>
                    <a href="#" class="dropdown-item dropdownbg   innerdropdownitem  ">Samsung</a>
                    <a href="#" class="dropdown-item  dropdownbg   innerdropdownitem  ">HP</a>
                    <a href="#" class="dropdown-item  dropdownbg    innerdropdownitem  ">Dell</a>
                    <a href="#" class="dropdown-item  dropdownbg   innerdropdownitem  ">Acer</a>
                    <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem    ">Asus</a>
                    <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">Apple</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem   ">Toshiba</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem   ">HCL</a>
                    <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem  ">Lenovo</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem    ">Sony</a>
                    <a href="#" class="dropdown-item dropdownbg  innerdropdownitem   ">Fujitsu</a>
                    <a href="#" class="dropdown-item dropdownbg   innerdropdownitem ">LG</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class=" innerdropdownheading">Categories</h4>
                    <a href="#"
                       class="dropdown-item fs-5 dropdownbg innerdropdownsubheading    innerdropdownitem   ">
                        ALL
                        LAPTOPS
                    </a>
                    <a href="#"
                       class="dropdown-item fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem   ">
                        ALL
                        COMPUTERS
                    </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg   innerdropdownitem    ">Windows 10 Laptops</a>
            <a href="#" class="dropdown-item dropdownbg innerdropdownitem  ">Gaming Laptops</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">AMD Laptops</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">Intel Core i7 Laptops</a>
            <a href="#" class="dropdown-item dropdownbg   innerdropdownitem   ">Intel Core i5 Laptops</a>
            <a href="#" class="dropdown-item  dropdownbg  innerdropdownitem    ">Intel Core i3 Laptops</a>

            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item dropdownbg   innerdropdownitem   ">
                Laptops With Backlit
                Keyboard
            </a>
            <a href="#" class="dropdown-item dropdownbg  innerdropdownitem  ">Touch Keyboard</a>
            <a href="#" class="dropdown-item dropdownbg innerdropdownitem ">Laptops With Good Battery Life</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Most popular Laptops</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Best Laptops</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Latest Laptops</a>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h4 class=" innerdropdownheading">Price</h4>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Under Rs 20,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs 30,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Under Rs 40,000</a>
                <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Under Rs 50,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs 60,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Above Rs 60,000</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item dropdownbg innerdropdownitem ">Cheapest Laptops</a>
            </div>
            </div>
        </ul>
    </li>
    <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle ms-2 fs-5 catgcolor " href="#" id="mega-four" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Computers
        </a>
        <ul class="dropdown-menu mega-area ms-3" aria-labelledby="mega-four">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class=" innerdropdownheading "> Categories</h4>
                    <a href="#"
                       class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading    innerdropdownitem ">
                        ALL
                        COMPUTERS
                    </a>
                    <a href="#"
                       class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem ">
                        ALL
                        LAPTOPS
                    </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item dropdownbg innerdropdownitem ">Windows Computers</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">All in One PCs</a>
            <a href="#" class="dropdown-item dropdownbg innerdropdownitem  ">Mini PCs</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Tower PCs</a>
            <li>
                <hr class="dropdown-divider">
            </li>

            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Intel Core i7 computers </a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Intel Core i5 computers </a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">Intel Core i3 computers </a>
            <li>
                <hr class="dropdown-divider">
            </li>

            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">16GB RAM Desktops</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">8GB RAM Desktops</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Most popular computers</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Latest computers</a>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h4 class=" innerdropdownheading  fs-3">Accessories</h4>
                <a href="#"
                   class="dropdown-item   fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                    ALL
                    ACCESSORIES
                </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Pen Drives</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">External Hard Disk</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Keyboards</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">Mouse</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Headphones</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">External Optical Drives </a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Mouse Pads</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Speakers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem">Webcams</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">USB Gadgets</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Cables</a>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h4 class=" innerdropdownheading">Price</h4>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Under Rs 20,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Under Rs 30,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs 40,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Under Rs 50,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs 60,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Above Rs 60,000</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Cheapest Computers</a>
            </div>
            </div>
        </ul>
    </li>
    <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle ms-2 fs-5 catgcolor " href="#" id="mega-five" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            TVs
        </a>
        <ul class="dropdown-menu mega-area ms-3" aria-labelledby="mega-five">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class=" innerdropdownheading ">Brands</h4>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Samsung</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Philips</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Mi</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Micromax</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Panasonic</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Videocon</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Toshiba</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Onida</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Sansui</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Sony</a>
                    <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Vu</a>
                    <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">LG</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class=" innerdropdownheading fs-3">Categories</h4>
                    <a href="#"
                       class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                        ALL
                        TELEVISIONS
                    </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Smart TVs</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Curved TVs</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">3D TVs</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Built-in-Wifi</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">4K Resolution</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">Full HD Resolution</a>

            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">32"-40" Televisions</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">40"-50"Tablets Televisions</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">55" Televisions</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">65" Televisions</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Most popular TVs</a>
            <a href="#" class="dropdown-item dropdownbg innerdropdownitem  ">Best TVs</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Latest TVs</a>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h4 class=" innerdropdownheading ">Price</h4>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Under Rs 20,000</a>
                <a href="#" class="dropdown-item dropdownbg innerdropdownitem ">Under Rs 30,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem">Under Rs 40,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs 50,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Under Rs 60,000</a>
                <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">Above Rs 60,000</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Cheapest Laptops</a>
            </div>
            </div>
        </ul>
    </li>
    <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle ms-2 fs-5 catgcolor  " href="#" id="mega-six" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Electronices
        </a>
        <ul class="dropdown-menu mega-area ms-3" aria-labelledby="mega-six">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class=" innerdropdownheading fs-3"> Cameras</h4>

                    <a href="#"
                       class="dropdown-item    fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem    ">
                        ALL
                        CAMERAS
                    </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Point & Shoot Cameras</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">SLR Cameras</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Camcorders</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">Professional Video Cam</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">Camera Lenses</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Nikon</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Sony</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem   ">Canon</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item dropdownbg innerdropdownitem   ">Under Rs 20,000</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Under Rs 30,000</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Above Rs 50,000</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Cheapest Cameras</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Most Popular Cameras</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Best Cameras</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Latest Cameras</a>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h4 class=" innerdropdownheading fs-3">Smart Wearables</h4>
                <a href="#"
                   class="dropdown-item   fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem     ">
                    ALL
                    SMARTWATCHES
                </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Android Compatible</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">iOS Compatible</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Water Resistant</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">Scratch Resistant</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Apple</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">Samsung</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#"
               class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                ALL
                FITNESS BANDS
            </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem ">With Touch Display</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Shock Resistant</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Fitbit Fitness Bands</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">Garmin Fitness Bands</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#"
               class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem   ">
                VR
                HEADSETS
            </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Gaming</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem   ">Entertainment</a>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <h4 class=" innerdropdownheading  ">Gaming</h4>
                <a href="#"
                   class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem ">
                    ALL GAMING
                    DEVICES
                </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Gaming Consoles</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem   ">Portable Gaming Consoles</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">Gamepads and Joystices</a>

            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Xbox</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem   ">Play Stations</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item     dropdownbg innerdropdownitem  ">Cheapest Gaming</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Most Popular Gaming</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Best Rated Gaming</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Latest Gaming Devices</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#"
               class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                RC
                TOYS
            </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">RC Quadcopters</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">RC Cars</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">RC Boats</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">RC Helicopters</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">RC Airplanes</a>

            </div>
            </div>
        </ul>
    </li>
    <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle ms-2 fs-5 catgcolor  " href="#" id="mega-seven" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Appliances
        </a>
        <ul class="dropdown-menu mega-area ms-3" aria-labelledby="mega-seven">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <h4 class=" innerdropdownheading">Large Appliances</h4>
                    <a href="#"
                       class="dropdown-item   fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem ">
                        ALL AIR
                        CONDITIONERS
                    </a>


                    <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Inverter AC</a>
                    <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Split AC</a>
                    <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Window AC</a>
            <li>
                <hr class="dropdown-divider  ">
            </li>
            <a href="#"
               class="dropdown-item   fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem ">
                AIR
                COOLERS
            </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#"
               class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                ALL
                REFRIGERATORS
            </a>

            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Single Door</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem ">Multi Door</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Side By Side</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#"
               class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                ALL
                WASHING MACHINES
            </a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Fully Automatic</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem    ">Semi Automatic</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Top Load</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Front Load</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h4 class=" innerdropdownheading">Small Appliances</h4>
                <a href="#"
                   class="dropdown-item   fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                    ALL SMALL
                    APPLIANCES
                </a>
            <li>
                <hr class="dropdown-divider">
            </li>

            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem   ">Irons</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem      ">Vacuum Cleaners</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Room Heaters</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem   ">Air Purifiers</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Fans</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Emergency Lights</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Water Purifiers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Geysers</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem ">Immersion Rods</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem   ">Hand Dryers</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Surge Protectors</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Dehumidifiers</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h4 class=" innerdropdownheading"> Kitchen Appliances</h4>
                <a href="#"
                   class="dropdown-item   fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                    ALL
                    KITCHEN APPLIANCES
                </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Induction Cooktops</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Mixer Juicer Grinders</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem   ">Juicers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Sandwich Makers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Microwave Ovens</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Oven Toaster Grills(OTG)</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Hand Blenders</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Food Blenders</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem ">Food Processors</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem ">ELectric Kettles</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem   ">Toasters</a>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Roti Makers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Choppers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Coffee Makers</a>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h4 class=" innerdropdownheading">Personal Appliances</h4>
                <a href="#"
                   class="dropdown-item  fs-5 dropdownbg  innerdropdownsubheading   innerdropdownitem  ">
                    ALL
                    PERSONAL APPLIANCES
                </a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  "> Trimmers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Shavers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Epilators</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item    dropdownbg innerdropdownitem  ">Hair Dryers</a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Hair Straighteners </a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Hair Curlers </a>
            <a href="#" class="dropdown-item  dropdownbg innerdropdownitem  ">Hair Stylers </a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">Electric Toothbrushes</a>
            <li>
                <hr class="dropdown-divider">
            </li>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem ">Popular Trimmers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Best Hair Dryers</a>
            <a href="#" class="dropdown-item   dropdownbg innerdropdownitem  ">Cheapest Epilators</a>

            </div>
            </div>
        </ul>
    </li>
    </ul>
    </div>
    </div>
</nav>
<section id="section1" class="search-bar">
    <div class="container ">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <form>
                    <div class="p-1 bg-light bg-dark borderradius searchbox  ">
                        <div class="input-group">
                            <input type="search" placeholder="Search products,brands,features" class="form-control">
                            <div class="input-group-append">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        All Categories
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item ms-2 dropdownbg   innerdropdownitem " href="#">Mobiles Phones</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem   " href="#">Tablets</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem " href="#">Smartwatches</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem  " href="#">Laptops</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem " href="#">TVs</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem " href="#">Cameras</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem " href="#">Gaming</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem " href="#">Large Appliances</a></li>
                                        <li><a class="dropdown-item ms-2 dropdownbg innerdropdownitem " href="#">Small Appliances</a></li>
                                        <li>
                                            <a class="dropdown-item ms-2 dropdownbg  innerdropdownitem" href="#">Kitchen Appliances</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item ms-2 dropdownbg  innerdropdownitem" href="#">Personal Appliances</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-link searchcolor"> <i class="fas fa-search"></i> </button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="section2">

    <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"> -->
    <!-- <div class="carousel-inner"> -->
    <!-- <div class="carousel-item active"> -->
    <img src="~/User/images/background4.jpg" class="d-block w-100" alt="..." height="">
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
</section>
<section id="section3">
    <div class="container my-5">

        <div class="box">
            <div class="row">
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1   d-flex justify-content-center ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center " aria-current="page" href="#">
                            <img src="~/User/images/mobile-phone.png" class="img-fluid mb-2 ions " alt=""> MOBILES
                        </a>

                    </div>

                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1  d-flex justify-content-center  ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center " aria-current="page" href="#">
                            <img src="~/User/images/tablet.png" class="img-fluid mb-2 ions" alt=""> TABLETS
                        </a>


                    </div>

                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1   d-flex justify-content-center  ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center " aria-current="page" href="#">
                            <img src="~/User/images/laptop.png" class="img-fluid mb-2 ions" alt=""> LAPTOPS
                        </a>


                    </div>

                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1  d-flex justify-content-center  ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center " aria-current="page" href="#">
                            <img src="~/User/images/computer.png" class="img-fluid mb-2 ions" alt=""> COMPUTERS
                        </a>

                    </div>

                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1 d-flex justify-content-center ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center" aria-current="page" href="#">
                            <img src="~/User/images/television.png" class="img-fluid mb-2 ions" alt=""> TVs
                        </a>

                    </div>
                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1 d-flex justify-content-center  ">
                    <div>
                        <a class="nav-link  red  ionsmodule text-center " aria-current="page" href="#">
                            <img src="~/User/images/camera.png" class="img-fluid mb-2  ions" alt=""> CAMERAS
                        </a>

                    </div>


                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1  d-flex justify-content-center   ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center" aria-current="page" href="#">
                            <img src="~/User/images/smart-watch.png" class="img-fluid mb-2 ions" alt=""> SMARTWATCHES
                        </a>

                    </div>
                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1   d-flex justify-content-center ">
                    <div>
                        <a class="nav-link  red ionsmodule  text-center " aria-current="page" href="#">
                            <img src="~/User/images/gaming.png" class="img-fluid mb-2 ions" alt=""> GAMING
                        </a>

                    </div>
                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1   d-flex justify-content-center  ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center " aria-current="page" href="#">
                            <img src="~/User/images/large-appliance.png" class="img-fluid mb-2 ions" alt=""> LARGE APPLIANCES
                        </a>

                    </div>
                </div>

                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1  d-flex justify-content-center  ">
                    <div>
                        <a class="nav-link  red ionsmodule text-center" aria-current="page" href="#">
                            <img src="~/User/images/smallappl.png" class="img-fluid mb-2 ions" alt=""> SMALL APPLIANCES
                        </a>

                    </div>
                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1  d-flex justify-content-center">
                    <div>
                        <a class="nav-link  red ionsmodule text-center" aria-current="page" href="#">
                            <img src="~/User/images/kitchenware.png" class="img-fluid mb-2 ions" alt=""> KITCHEN APPLIANCES
                        </a>

                    </div>
                </div>
                <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1   d-flex justify-content-center">
                    <div>
                        <a class="nav-link  red ionsmodule text-center" aria-current="page" href="#">
                            <img src="~/User/images/Personalapp.png" class="img-fluid mb-2 ions" alt=""> PERSONAL APPLIANCES
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section4 " class="bg-black py-5">
    <div class="container">
        <div class="row mb-5 ">
            <div class="  col-lg-3 col-md-3  col-sm-6  ">
                <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
                    <a href="" class="mt-4"><i class="fas fa-search-plus searchproduct"></i> </a>
                    <!-- <img src="~/User/images/logoo.png" class="compareimg" alt=""> -->

                    <form class="d-flex  mx-4 mt-4">
                        <!-- <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search"> -->
                        <input type="search" placeholder="Search products" class="form-control  comparesearch"
                               aria-label="Search">

                        <button class="btn  btn-outline-danger btncolor ms-2" type="submit">Search</button>
                    </form>



                </div>
            </div>
            <div class="col-lg-3 col-md-3  col-sm-6   ">
                <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
                    <a href="" class="mt-4"><i class="fas fa-search-plus searchproduct"></i> </a>


                    <form class="d-flex  mx-4 mt-4">
                        <!-- <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search"> -->
                        <input type="search" placeholder="Search products" class="form-control  comparesearch"
                               aria-label="Search">
                        <button class="btn  btn-outline-danger btncolor ms-2" type="submit">Search</button>
                    </form>



                </div>
            </div>
            <div class="col-lg-3 col-md-3  col-sm-6   ">
                <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
                    <a href="" class="mt-4"><i class="fas fa-search-plus searchproduct"></i> </a>


                    <form class="d-flex  mx-4 mt-4">
                        <!-- <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search"> -->
                        <input type="search" placeholder="Search products" class="form-control  comparesearch"
                               aria-label="Search">
                        <button class="btn  btn-outline-danger btncolor ms-2" type="submit">Search</button>
                    </form>



                </div>
            </div>
            <div class="col-lg-3 col-md-3  col-sm-6  ">
                <div class="card shadow-sm compare d-flex align-items-center justify-content-center  ">
                    <a href="" class="mt-4"><i class="fas fa-search-plus searchproduct"></i> </a>


                    <form class="d-flex  mx-4 mt-4  ">
                        <!-- <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search"> -->
                        <input type="search" placeholder="Search products" class="form-control  comparesearch"
                               aria-label="Search">
                        <button class="btn  btn-outline-danger btncolor ms-2" type="submit">Search</button>
                    </form>



                </div>
            </div>
        </div>
        <div>
            <div class="d-flex align-items-center justify-content-center">
                <a href=""> <button class="btn btn-danger redbtn comparebtn " type="submit">COMPARE NOW</button> </a>
            </div>
        </div>
    </div>
</section>

<section id="section5">
    <div class="container my-5 ">
        <h3 class="text-center my-3 product fw-bold"> Popular Products </h3>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class=" border rounded  d-flex   ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/samsunggalaxym32_64gb_.png" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold  ">SAMSUNG Galaxy M32(Light Blue,64GB)</a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red fw-bold ">RS 12,999</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class=" border rounded  d-flex  boxsize ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/onrplus9r_5_8gb_128_.png" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold  ">
                                One Plus
                                9R 5G (Lake Blue ,8GB RAM ,128GB)
                            </a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red  fw-bold ">RS 36,999</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class=" border  rounded d-flex   ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/samsungf12-removebg-preview.png" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold  ">
                                SAMSUNG Galaxy F12 (Sky
                                Blue, 64GB)
                            </a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red fw-bold ">RS 9,499</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class=" border rounded   d-flex   ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/realme gt.jpg" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold">Realme GT Master Edition( Black,256GB)</a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red fw-bold">RS 29,999</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class=" border rounded  d-flex   ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/iphoneair4.jpg" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold  ">Apple iPad Air(4th Gen)64GB ROM 10.9 inch</a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red fw-bold  ">RS 54,900</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class=" border rounded  d-flex   ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/samsungs6.jpg" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold  ">SAMSUNG Galaxy TabS6 Lite  64GB ROM 10.4inch</a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red fw-bold   ">RS 27,999</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class=" border rounded  d-flex   ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/dell.png" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold  ">Dell Core i3 11thGen (6GB/256GB SSD)</a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red fw-bold ">RS 42,490</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class=" border rounded  d-flex   ">
                        <div class=" d-flex align-items-center  ">

                            <img src="~/User/images/hpcore.jpg" class="flex-shrink-0  imagesize m-3"
                                 alt="...">
                        </div>
                        <div class="mt-3">
                            <a href="#" class=" text-decoration-none text-dark fw-bold  ">
                                HP 14s Core i5 11thGen (6GB/512GB SSD)
                            </a>

                            <br>
                            <a href="#" class=" text-decoration-none text-red fw-bold ">RS 59,490</a>
                            <a href="">
                                <button class="btn btn-danger redbtn my-3 " type="submit">COMPARE </button>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>
    </div>
</section>

<footer class="bg-black">
    <div class="container  py-5">
        <div class="row ">
            <div class="d-flex  flex-column col-sm-12 col-lg-3 col-12 mb-5 position-relative top-0 start-0">
                <h6 class="text-white fs-3  ">COMPARE<b>BAZAAR</b></h6>
            </div>
            <div class="d-flex flex-column col-sm-12 col-lg-3 col-12 mb-5 py-4">
                <h6 class="text-white mb-4">QUICK MENU</h6>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none text-muted footercolor" href="#">About Us</a></li>
                    <li><a class="text-decoration-none text-muted footercolor " href="#">Compare Products</a></li>
                    <li><a class="text-decoration-none text-muted footercolor" href="#">Contact Us</a></li>
                    <li><a class="text-decoration-none text-muted footercolor" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none text-muted footercolor" href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="d-flex flex-column col-sm-12 col-lg-3 col-12 mb-5 py-4 ">
                <h6 class="text-white mb-4">CATEGORIES</h6>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none  text-muted footercolor" href="#">Mobiles</a></li>
                    <li><a class="text-decoration-none text-muted footercolor" href="#">Tablets</a></li>
                    <li><a class="text-decoration-none text-muted  footercolor" href="#">Laptops</a></li>
                    <li><a class="text-decoration-none text-muted footercolor" href="#">Computers</a></li>
                    <li><a class="text-decoration-none text-muted footercolor" href="#">TVs</a></li>
                    <li><a class="text-decoration-none text-muted footercolor" href="#">Electronices</a></li>
                    <li><a class="text-decoration-none text-muted  footercolor" href="#">Appliances</a></li>
                </ul>
            </div>
            <div class="d-flex flex-column col-sm-12 col-lg-3 col-12 mb-5 py-4 ">
                <h6 class="text-white mb-4">SOCIAL MEDIA</h6>
                <div class="flew-row">
                    <i class="fab fa-facebook-f  me-4 fs-5 footercolor"></i>
                    <i class="fab fa-twitter  me-4 fs-5 footercolor "></i>
                    <i class="fab fa-instagram  me-4 fs-5 footercolor "></i>
                    <i class="fab fa-whatsapp  me-4 fs-5 footercolor "></i>
                </div>
            </div>
        </div>
    </div>
</footer>