@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class=" pb-3   border-bottom container-fluid" id="sec1">
    <div class="row mt-5  pt-5 ">
        <div class="col-2">
            <h4 class="fw-bold ">FILTERS</h4>
        </div>
        <div class="col">
            <h4 class="fw-bold">MOBILE PHONES</h4>
        </div>
        <div class="col ">
            <!-- <div class="dropdown  ">
                    <a class="btn btn-light dropdown-toggle shadow-none" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort By : Popularity
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item p-2" href="#">Price - low to high</a></li>
                      <li><a class="dropdown-item p-2" href="#">Price - high to low</a></li>
                      <li><a class="dropdown-item p-2" href="#">Customer Rating</a></li>
                    </ul>
                  </div> -->
            <select class="form-select shadow-none ms-auto clickbox sort " aria-label="Default select example">
                <option selected> Sort By : Popularity</option>
                <option value="1" class="dropdownbg">Sort By : Price - low to high</option>
                <option value="2" class="">Sort By : Price - high to low</option>
                <option value="3" class="">Sort By : Customer Rating</option>
            </select>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row ">
        <div class="col-2 border-end border-bottom ">
            <div class="  border-bottom ">
                <div class="row my-3">
                    <div class="col-8">
                        <h5 class="fw-bold ms-2 text-red">PRICE</h5>
                    </div>
                    <div class="col-4">
                        <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                    </div>
                </div>
                <ul class="">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none " type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem " for="">
                            Under Rs 5,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem " for="">
                            Rs 5,000 to Rs 10,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem    " for="">
                            Rs 10,000 to Rs 15,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input   shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem  " for="">
                            Rs 15,000 to Rs 20,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem  " for="">
                            Under Rs 20,000
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem   " for="">
                            Above Rs 20,000
                        </label>
                    </li>
                </ul>
            </div>
            <div class="  border-bottom">
                <div class="my-3">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="   fw-bold  ms-2 text-red">BRAND</h5>
                        </div>
                        <div class="col-4">
                            <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                        </div>
                    </div>
                    <!-- <span class="fw-bold fs-6 ms-2 ">BRAND</span>
                    <span class=""> <a href="" class=" text-decoration-none ms-5 fs-6"> Clear </a></span> -->
                    <input class="form-control form-control-sm shadow-none clickbox " type="text" placeholder="Search Brand"
                           aria-label=".form-control-sm example">
                </div>
                <ul class="scrollbar">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label innerdropdownitem  " for="">
                            Apple
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem " for="">
                            ASUS
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem   " for="">
                            BlackZone
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input   shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem " for="">
                            Coolpad
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem " for="">
                            Google
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem  " for="">
                            HEEMAX
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem " for="">
                            HTC
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem  " for="">
                            Huawei
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem   " for="">
                            IKall
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem  " for="">
                            Intex
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            IQOO
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Itel
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Lava
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Lenovo
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Mi
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Micromax
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Motorola
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            MTR
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Nokia
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            OnePlus
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Oppo
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Philips
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Realme
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Redmi
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Samsung
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            SeniorWorld
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Snexian
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Vivo
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Xiaomi
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Zopo
                        </label>
                    </li>


                </ul>
            </div>
            <div class="  border-bottom ">
                <!-- <div class="my-3">
                  <span class="fw-bold fs-6 ms-2 "> RATINGS</span>
                  <span class=""> <a href="" class=" text-decoration-none fs-6 ms-5 "> Clear  </a></span>
                </div> -->
                <div class="row my-3">
                    <div class="col-8">
                        <h5 class="   fw-bold  ms-2 text-red "> RATINGS</h5>
                    </div>
                    <div class="col-4">
                        <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                    </div>
                </div>
                <ul class="">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            5 Star Reviews
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            4 Star Reviews
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            3 Star Reviews
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input   shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            2 Star Reviews
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            1 Star Reviews
                        </label>
                    </li>

                </ul>
            </div>
            <div class="  border-bottom ">
                <!-- <div class="my-3">
                  <span class="fw-bold fs-6 ms-2 ">AVAILABILITY</span>
                  <span class=""> <a href="" class=" text-decoration-none fs-6 ms-3 "> Clear  </a></span>
                </div> -->
                <div class="row my-3">
                    <div class="col-8">
                        <h5 class="   fw-bold  ms-2 text-red ">AVAILABILITY</h5>
                    </div>
                    <div class="col-4">
                        <a href="" class=" text-decoration-none text-lightred fs-6"> Clear</a>
                    </div>
                </div>

                <ul class="">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label    innerdropdownitem" for="">
                            Include Out of Stock
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label  innerdropdownitem" for="">
                            Exclude Upcoming
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Upcoming
                        </label>
                    </li>
                </ul>
            </div>
            <div class="  ">
                <div class="row my-3">
                    <div class="col-8">
                        <h5 class="   fw-bold text-red ms-2 ">VENDORS</h5>
                    </div>
                    <div class="col-4">
                        <a href="" class=" text-decoration-none  text-lightred fs-6"> Clear</a>
                    </div>
                </div>
                <!-- <div class="my-3">
                  <span class="fw-bold fs-6 ms-2 ">Vendors</span>
                  <span class=""> <a href="" class=" text-decoration-none fs-6 ms-5 "> Clear  </a></span>
                </div> -->
                <ul class="">
                    <li class="form-check ">
                        <input class="form-check-input shadow-none" type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Amazon
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input  shadow-none  " type="checkbox" value="" id="">
                        <label class="form-check-label   innerdropdownitem" for="">
                            Flipkart
                        </label>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-10">
            <div class="row mx-3 mt-5">
                <div class="col-3 ">
                    <div class="card" style="width: 18rem; ">
                        <!-- <div class="row"> -->
                        <div class="  d-flex justify-content-center mt-3 ">
                            <a href="" class="pointer">
                                <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                            </a>
                        </div>
                        <a class="text-black  " onclick="Wishlist(this)">
                            <i class="far fa-heart pointer ms-4 wishlist  "></i>
                        </a>
                        <!-- </div> -->
                        <div class="card-body text-center">
                            <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                            <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                            <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                            <a asp-action="CompareChart" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                            <a asp-action="ProductDetails" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="card" style="width: 18rem; ">
                        <!-- <div class="row"> -->
                        <div class="  d-flex justify-content-center mt-3 ">
                            <a href="" class="pointer">
                                <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                            </a>
                        </div>
                        <a class="text-black  " onclick="Wishlist(this)">
                            <i class="far fa-heart pointer ms-4 wishlist  "></i>
                        </a>
                        <!-- </div> -->
                        <div class="card-body text-center">
                            <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                            <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                            <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                            <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                            <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="card" style="width: 18rem; ">
                        <!-- <div class="row"> -->
                        <div class="  d-flex justify-content-center mt-3 ">
                            <a href="" class="pointer">
                                <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                            </a>
                        </div>
                        <a class="text-black  " onclick="Wishlist(this)">
                            <i class="far fa-heart pointer ms-4 wishlist  "></i>
                        </a>
                        <!-- </div> -->
                        <div class="card-body text-center">
                            <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                            <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                            <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                            <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                            <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="card" style="width: 18rem; ">
                        <!-- <div class="row"> -->
                        <div class="  d-flex justify-content-center mt-3 ">
                            <a href="" class="pointer">
                                <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                            </a>
                        </div>
                        <a class="text-black  " onclick="Wishlist(this)">
                            <i class="far fa-heart pointer ms-4 wishlist  "></i>
                        </a>
                        <!-- </div> -->
                        <div class="card-body text-center">
                            <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                            <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                            <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                            <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                            <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                        </div>
                    </div>
                </div>
                <div class="row mx-3 mt-5">
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-3 mt-5">
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <div class="card" style="width: 18rem; ">
                            <!-- <div class="row"> -->
                            <div class="  d-flex justify-content-center mt-3 ">
                                <a href="" class="pointer">
                                    <img src="~/User/images/realme gt.jpg" class="card-img-top allproductimg  " alt="Product image">
                                </a>
                            </div>
                            <a class="text-black  " onclick="Wishlist(this)">
                                <i class="far fa-heart pointer ms-4 wishlist  "></i>
                            </a>
                            <!-- </div> -->
                            <div class="card-body text-center">
                                <a class=" text-decoration-none text-dark fw-bold fs-4" href="">Realme GT Master Edition</a>
                                <h6 class=" text-decoration-none text-red fw-bold ">RS 12,999</h6>
                                <!-- <a  href="" class="btn btn-danger redbtn bg-red my-2 shadow-none" > <i class="far fa-heart pointer"></i> WISHLIST </a> <br> -->
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">COMPARE</a>
                                <a href="#" class="btn btn-danger redbtn bg-red my-2 shadow-none">VIEW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>