
@{
    ViewData["Title"] = "Terms and Conditions";
}
<partial name="_NavBar2Partial" />
<section>
    <div class="container mt-5 pt-5 px-3">
        <h3 class="fw-bold text-red "> TERMS & CONDITIONS </h3>
        <div class="my-3">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore deleniti, pariatur doloremque numquam quam distinctio sint quis voluptate vero, temporibus doloribus alias quaerat quibusdam tempore aut. Aliquid omnis repudiandae minus?</p>
        </div>
    </div>
</section>