
<partial name="_NavBar2Partial" />
<section class="mt-5 pt-5 container">
    <h3 class="fw-bold "> MY WISHLIST </h3>

    @*@foreach(var product in ViewBag.myList)
        {

        ViewBag.mobile = await GetMobile(product.vendor, product.id);

        }*@

    @if (ViewBag.n > 0)
    {
        int i = 0;

        <div class="row ">

            @foreach (var item in ViewBag.mobile)
            {

                var Url = $"/home/Remove/?id={i}&View=WishList&list=Wishlist";
                i++;
                <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3 my-3  d-flex justify-content-center ">
                    <div class="card  " style="width: 16rem; ">
                        <div class="  d-flex justify-content-center mt-3 ">
                            <a href="" class="pointer">
                                <img src="@item.product_images.image"
                                     class="card-img-top allproductimg  " alt="mobile">
                            </a>
                            <a href=@Url
                               class=" crossposition text-decoration-none text-black pointer ">
                                <i class="fas fa-times crosshover px-1 fs-3"></i>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <a class=" text-decoration-none text-dark fw-bold fs-4" href="">
                                @item.name
                            </a>
                            <h6 class=" text-decoration-none text-red fw-bold "> @item.price</h6>
                            <a href="/home/AddItem/?vendor=@item.vendor.name&id=@item.id&View=CompareChart&list=Comparelist"
                               class="btn btn-danger redbtn bg-red my-2 col-6 shadow-none">COMPARE</a>
                        </div>
                    </div>
                </div>
            }
        </div>


    }
    else
    {
        <!-- <h3 class="fw-bold "> MY WISHLIST </h3> -->
        <div class=" text-center">
            <img src="~/User/images/emptywishlist2.png" class="emptywishlist " alt="">
            <p class="fw-bold mt-4 fs-2 ">Your wishlist is empty</p>
            <a class="btn btn-warning  shadow-none" asp-action="">EXPLORE NOW</a>
        </div>
    }
</section>
